<!-- views/pages/edit.html -->
<h1>Edit Contact</h1>
<form>
    <div class="mb-3">
        <span class="input-group-text">Full Name</span>
        <input id="fullName" name="fullName" type="text" class="form-control" required>
    </div>
    <div class="mb-3">
        <span class="input-group-text">Contact Number</span>
        <input id="contactNumber" name="contactNumber" type="tel" class="form-control" required>
    </div>
    <div class="mb-3">
        <span class="input-group-text">Email address</span>
        <input id="emailAddress" name="emailAddress" type="email" class="form-control" required>
    </div>
    <div class="d-grid gap-2 d-md-block">
        <button id="submitButton" type="submit" class="btn btn-primary">
            <i class="fas fa-save"></i> Save Changes
        </button>
        <button id="cancelButton" type="button" class="btn btn-warning">
            <i class="fas fa-undo"></i> Cancel
        </button>
    </div>
</form>
