<!-- views/pages/register.html -->
<h1>Register</h1>
<div class="row">
  <div class="offset-md-3 col-md-6 col-sm-12">
    <div id="contentArea">
      <h1 class="display-4">Register</h1>
      <form id="registerForm" novalidate>
        <p class="hint-text">Create your own account. It's free and only takes a minute.</p>
        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <input class="form-control" type="text" name="firstName" id="FirstName" placeholder="First Name" required>
            </div>
            <div class="col-md-6">
              <input class="form-control" type="text" name="lastName" id="lastName" placeholder="Last Name" required>
            </div>
          </div>
        </div>
        <div class="form-group">
          <input type="email" class="form-control" id="emailAddress" name="emailAddress" required placeholder="Email">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="password" name="password" required placeholder="Password">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required placeholder="Confirm Password">
        </div>
        <div class="text-right">
          <button id="submitButton" type="submit" class="btn btn-primary btn-lg">Register</button>
        </div>
      </form>
    </div>
    <p class="text-center text-muted small">
      Already have an account?
      <a href="#/login">Sign in</a>
    </p>
  </div>
</div>
